<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>Have Any Project in Mind ?</h3>
						<p>Curabitur libero eros, efficitur sit amet sodales tincidunt, aliquet et leo sed ut nibh feugiat, auctor enim quis.</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="#" class="btn btn-secondary">Hire Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-color: var(--bg-footer-h);">
		<div class="centraliza">
			<button id="backToTop" class="btn btn-primary">Voltar ao Inicio</button>
			<hr>
			<div class="row" style="width: 100%;">
				<div class="col-lg-4 col-md-6 col-12" style="align-items: center;display: flex; flex-direction: column; justify-content: center;">
					<img style="width: 50%; margin-bottom: 5%;" src="img/LogoFooter.png" title="Logo Footer" alt="Img não carregada">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Links</h4>
						</div>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
					<div class="widget widegt_about">
						<div class="widget_title">
						</div>
						<ul class="social" style="padding: 0; margin-left: 10%;">
							<li><a href="https://www.facebook.com/Connect-Sa%C3%BAde-e-Bem-Estar-110768978320145/"><i class="fab fa-facebook"></i></a></li>
							<li><a href="https://instagram.com/lu.connect_menteecorpo_22?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contate-Nos</h4>
						</div>
						<div class="contact_info" style="padding: 0; margin-left: 10%;">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
									<div class="info">
										<p><a href="mailto:info@deneb.com">info@deneb.com</a></p>
									</div>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
									<div class="info">
										<p>Taubaté,<span>São Paulo</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="footer">
			<div class="centraliza" style="width: -webkit-fill-available;">
				<div class="col-lg-12" style="padding-right: 0 !important; padding-left: 0 !important;">
					<div class="copyright_text">
						<div class="text-center p-3 text-muted">Copyright&copy; 2020 All rights reserveds <br><div class="text-center p-3 text-muted">Desenvolvido por <a style="color: #b9b9b9;" href="mailto:kauandesenvolvedorweb@gmail.com">kauandesenvolvedorweb@gmail.com</a></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>