<div class="container-conteudo-dashboard rounded bg-white mb-5">
    <div class="row display-perfil">
        <div class="col-md-3 border-right">
<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><%=dono%></span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil Configurações</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nome</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Sobrenome</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Telefone 1°</label><input type="text" class="form-control" placeholder="enter phone number" value="" required></div>
                    <div class="col-md-12"><label class="labels">Telefone 2°</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email id" value="" required></div>
                    <div class="col-md-12"><label class="labels">senha</label><input type="text" class="form-control" placeholder="enter email id" value="" required></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Salvar Perfil</button></div>
            </div>
        </div>
      
    </div>
</div>